body {
    background-color: pink;
}

nav {
    background-color: rgb(233, 162, 174);
    margin-top: -0.6%;
    margin-left: -0.6%;
    margin-right: -0.6%;
    display: flex;
}

.links li {
    text-decoration: solid;
    display: inline;
}

.links li:hover {
    color: rgb(192, 110, 123);
    font-weight: bold;
    font-size: 18px;
}

#inicioButton {
    text-decoration: none;
    color: palevioletred;
    display: flex;
    position: relative;
    left: 120vh;
    top: 35%;
    font-size: 20px;
}

#carritoButton {
    text-decoration: none;
    color: palevioletred;
    display: flex;
    position: relative;
    left: 140vh;
    top: 0%;
    font-size: 20px;
}

#contactoButton {
    text-decoration: none;
    color: palevioletred;
    display: flex;
    position: relative;
    left: 160vh;
    top: -35%;
    font-size: 20px;
}

.marca {
    color: palevioletred;
    font-size: 30px;
    position: relative;
    top: 3px;
    left: 10px;
}